#wrapper{
    width: 100%;
}

body{
    background-color: #e9e7e8;
    margin: 2%;
}

.article{
    background-color: white;
    width: 48%;
    height: 300px;
    box-shadow: 0px 0px 50px 0px grey;
    margin: 2% 1% 0% 1%;
    float: left;

    background-size: cover;
    background-position-x: 40%;

    position: relative;
}

.article span{
    font-size: 1.5vw;
    color: white;
    background-color: black;
    margin: 15px 0px 0px 0px;
    padding-left: 10px;
    font-weight: bold;

    position: absolute;
    bottom: 10px;
    width: 100%;
}

.article:hover span{
    color: black;
    background-color: #fff200;
}

#head{
    font-size: 3vw;
    font-weight: bolder;
    width: 100%;
    margin-bottom: 0px;
    border-bottom: solid 3px #fff200;
}