@font-face { font-family: 'futura';
             src: url('fonts/fl.ttf') format('truetype'); }

#wrapper{
    width: 100%;
}

body{
    background-color: #e9e7e8;
    margin: 2%;
    font-family: 'futura', serif;
}

.article, .article_text{
    width: 31%;
    height: 300px;
    box-shadow: 0px 0px 50px 0px grey;
    margin: 2% 1% 0% 1%;
    float: left;

    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 10%;

    display: block;

    position: relative;
}

.article_text, .article_text span, .article_text .headline{
    background-color: none;
    color: black;
}

.article_text{
    background-color: white;

    -webkit-box-shadow:inset 0px 0px 0px 3px #fff200;
    -moz-box-shadow:inset 0px 0px 0px 3px #fff200;
    box-shadow:inset 0px 0px 0px 3px #fff200;

    overflow: auto;
}

.article_text:hover{
    background-color: #fff200;
}

.article_text .headline{
    position: relative;
    bottom: auto;
    padding-left: 22px;
    padding-right: 22px;
    
}

.article_text .description{
    position: relative;
    display: block;
    margin-top: 16px;
    font-size: 85%;
}

.article span{
    display:inline;
    position: relative;
}

.article:hover span{
    color: black;
}

.article:hover{
    -webkit-box-shadow:inset 0px 0px 0px 3px #fff200;
    -moz-box-shadow:inset 0px 0px 0px 3px #fff200;
    box-shadow:inset 0px 0px 0px 3px #fff200;
}

#head{
    font-size: 3vw;
    font-weight: bolder;
    width: 100%;
    margin-bottom: 0px;
    border-bottom: solid 3px #fff200;
}

.headline{
    display: block !important;
    position: absolute !important;
    width: 100%;

    margin: 15px 0px 0px 0px;
    padding-left: 10px;
    bottom: 0px;

    font-size: 1.5vw;    
    color: white;

    min-height: 4vw;
}

.tag{
    
}

.title{
    font-weight: bold;

}